.botoes-flutuantes {
    position: fixed;
    bottom: 0;
    right: 0;
}

.botoes-flutuantes__fundo {
    position: relative;
    top: 0;
    left: 0;
}

.botoes-flutuantes__lista {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    position: absolute;
    bottom: 9.5rem;
    right: 0.5rem;
}

.botoes-flutuantes__checkbox {
    display: none;
}

.botoes-flutuantes__checkbox:checked~.botoes-flutuantes__fundo {
    background-color: var(--preto-transparente);
    width: 100vw;
    height: 100vh;
}

.botoes-flutuantes__checkbox:checked~.botoes-flutuantes__lista {
    display: flex;
}

.botoes-flutuantes__item-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}

.botoes-flutuantes__item-texto {
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.375rem;
    background-color: var(--branco);
    color: var(--cinza-escuro);
    border-radius: 1rem;
    padding: 0 1rem;
}

.botoes-flutuantes__item-icone,
.botoes-flutuantes__incluir {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 50%;
    z-index: 2;
    background-color: var(--azul);
    width: 1.5rem;
    height: 1.5rem;
    box-shadow: 0px 4px 4px var(--preto-transparente);
}

.botoes-flutuantes__incluir {
    position: absolute;
    bottom: 5rem;
    right: 0.5rem;
    cursor: pointer;
}

.botoes-flutuantes__item-icone:hover,
.botoes-flutuantes__incluir:hover {
    background-color: var(--amarelo);
}

@media screen and (min-width: 768px) {
    .botoes-flutuantes__lista {
        right: 1.5rem;
    }

    .botoes-flutuantes__incluir {
        right: 1.5rem;
    }    
}

@media screen and (min-width: 1024px) {
    .botoes-flutuantes {
        display: none;
    }
    
    .botoes-flutuantes__lista {
        bottom: 6rem;
        right: 1rem;
    }

    .botoes-flutuantes__incluir {
        bottom: 1rem;
        right: 1rem;
    }
}